
layout "mq" {
    root "~/prj/mq"
    attach false

    window "ed" {
        pane "nvim ."
    }
    window "sh" {
        pane "ls -l"
        pane split=h size=30 "ls -a"
    }
    window "sv" {
        pane "./bin/mq"
        pane split=v size=50 "ls ./bin"
    }
}
